body{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    background-color: rgb(250, 144, 132);
    #exercise2{
        max-width: 50%;
    }
}